* {
  box-sizing: border-box;
  outline: none;
  font-family: monospace;
}
#root {
  margin-top: 50px;
}
#root .card {
  width: 600px;
  height: max-content;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 11px #aaaa9f;
  margin: 23px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card .head {
  width: inherit;
  height: 30%;
  border-radius: 10px;
  line-height: 50px;
  margin: 10px 10px;
}
.card .head .left {
  width: 50%;
  display: flex;
  flex-direction: row;
  line-height: 40px;
}
.card .head .left .image .image-itself {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  line-height: 50px;
}

.card .head .left .image {
  margin: 0px 10px;
  line-height: 50px;
}

.card .head .left .name {
  margin: 0px 10px;
  font-size: 15px;
  line-height: 50px;
}

.card .text {
  height: 60%;
  margin: 2px 20px;
  position: relative;
}

.card .date {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: gray;
  font-size: 12px;
}
